
<%- include('header') %>

   
    <div class="main-card">
        <div class="card">
            <div class="card-inside">
                <div class="card-heading">
                    <h1>VIEW CUSTOMERS</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, pariatur impedit!</p>
                </div>
                
                <div class="card-btn">
                    <button class="btn"><a href="/members">Get Customers</a></button>
                </div>
            </div>
            <div class="card-image">
    
            </div>
        </div>
    
        <div class="card-2">
            <div class="card-image">
    
            </div>
            <div class="card-inside">
                <div class="card-heading">
                    <h1>TRANSFER</h1>
                   
                </div>
                
                <div class="card-btn">
                    <button class="btn"><a href="/transaction">Transaction</a></button>
                </div>
            </div>
    
        </div>
    
    
        <div class="card card-3">
            <div class="card-inside">
                <div class="card-heading">
                    <h1>ADD MONEY</h1>
                </div>
                
                <div class="card-btn">
                    <button class="btn"><a href="/add-money">Add Money</a></button>
                </div>
            </div>
            <div class="card-image">
    
            </div>
        </div>
    
    
        <div class="card-2 card-4">
            <div class="card-image">
    
            </div>
            <div class="card-inside">
                <div class="card-heading">
                    <h1>ADD NEW</h1>
                </div>
                
                <div class="card-btn">
                    <button class="btn"><a href="/add">Add New</a></button>
                </div>
            </div>
    
        </div>
    </div>

   
<%- include('footer') %>

<style>
    .card-heading p{
        text-align: center;
        margin-left: 12px;
        
    }
</style>